* {
	font-family: 'Lato', sans-serif;
}

.logo {
	font-size: 30px;
}

header {
	border-bottom: 2px solid #DDDDDD;
	padding:10px 0px 10px 0px;
}

.dp {
	width: 100px;
	height: 100px;
	border:1px solid #CCCCCC;
	padding:5px;
}

a {
	font-weight: 600;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a.button {
	font-size: 15px;
	border-radius: 2px;
	padding: 7px 10%;
	display: block;
}

a.header-button {
  min-width: 40px;
  max-width: 80px;
  text-align: center;
  min-height: 20px;
  max-height: 40px;
}

a.button-primary {
	border: 2px solid #3498db;
	color: #3498db;
}

a.button-white {
	border: 2px solid #fff;
	color: #fff;
}

.main-title {
	display: inline-block;
	vertical-align: middle;
}

.text-decoration {
  padding-left: 20px;
}

.top-margin {
	margin: 15% 0px;
}

/* Skills Section Start */
.skills {
	padding: 100px 0px;
}

.primery-background {
	background: #3498db;
}

.wrap-skill {
	display: block;
}

.wrap-skill h5 {
	display: inline-block;
	vertical-align: middle;
	width: calc(30% - 15px);
}

.progress-frame {
	background: rgba(245, 245, 245, 1);
	margin-bottom: 0px;
	width: 65%;
	height: 5px;
	display: inline-block;
	margin-left: 15px;
}

.progress-bar-custom {
	background: rgba(65, 201, 110, 1);
	width: 0%;
	transition: 2s all ease-out;
}

.content {
	display: inline-block;
	width: 75%;
	padding: 0px 10px;
	float: right;
}

.button-wrapper {
	display: block;
	text-align: center;
}

.invert-color {
	color: white;
}

.card {
	background: white;
	box-shadow: 0px 2px 7px black;
	display: flex;
	margin-bottom: 5px;
	width: 100%;
}

.card img {
	display: block;
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
	margin: auto;
}

.card a{
	color: #333;
}

.card-image {
	background: rgba(65, 201, 110, 1);
	display: inline-flex;
	width: 25%;
}

.sr-only {
	position: absolute;
	padding: 0px;
	margin: -7px;
	border: 0;
	z-index: 100;
	overflow: visible;
	clip: auto;
}

/* project section */
.support-color {
	background: #EEE;
}

.projects {
	min-height: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.projects-wrapper {
	display: block;
	text-align: center;
}

.project-card {
	display: flex;
	margin-top: 15px;
}

.project-card .content h2 {
	color: #333;
	font-size: 20px;
	text-align: left;
}

.project-card .content p {
	text-align: left;
}

.project-img {
	min-height: 80px;
	min-width: 190px;
	max-height: 120px;
	max-width: 210px;
}

.projects-button {
	display: block;
	position: absolute;
}

.subscribe-me {
	display: flex;
	padding: 30px 20%;
}

.subscribe-form {
	border: 2px solid #fff;
	width: 200px;
	height: 30px;
  background: transparent;
}

.contacts {
	background-image: url('/images/subscribe-me.jpg');
	display: flex;
}

.contact-me {
	display: block;
	width: 250px;
	margin: auto;
}

.contact-me h3 {
	border-bottom: 1px dotted black;
	padding-bottom: 5px;
	text-align: center;
}

.contact-me a {
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.map-image {
	display: block;
	width: 50%;
}

/* Skills Section End */
footer {
	width: 100%;
	height: 50px;
	padding: 17px 0px;
	text-align: center;
	color: white;
	background: #333;
}

@media (max-width: 500px) {
  .logo {
  	font-size: 25px;
  }

  .text-decoration {
    padding-left: 1px;
  }

  .top-margin {
    margin: 40% 0px;
  }

	.project-card .content h2 {
		font-size: 15px;
	}

	.project-card .content p {
		font-size: 13px;
	}

	.contacts {
		display: block;
		margin-top: -20px;
	}

	.contact-me {
		width: 50%;
	}

	.map-image {
		width: 100%;
	}
}
